@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@100;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

/* styling of the main game */

body {
  background-color: rgb(63, 23, 82);
}
.background {
  padding: 20px;
}

.title {
  font-family: "Bangers", cursive;
  text-align: center;
  margin: 10px;
  font-size: 2.5em;
  color: rgb(255, 123, 0);
  text-shadow: 2px 2px black;
}

.how2play {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 0.9em;
  margin: 20px;
  color: white;
}

.display-buttons {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

/* display timer & start button */

.timer {
  width: 250px;
  height: 30px;
  margin-left: 50px;
  margin-bottom: 15px;
  padding-top: 8px;
  border-radius: 10px;
  border: 2px solid rgb(255, 123, 0);
  background-color: white;
  text-align: center;
  font-size: 1em;
}

.start {
  width: 250px;
  height: 40px;
  margin-left: 50px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
  background-color: rgb(255, 123, 0);
  color: white;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
}

/* styling objects */

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}
.sally {
  max-width: 100px;
  opacity: 0.4;
}

/* main section of game */

.main-container {
  position: relative;
  width: 350px;
  height: 700px;
  z-index: -1;
  border: 5px solid white;
  border-radius: 10px;
  background-color: white;
  opacity: 0;
}

/* styling of the background image */
.main-image {
  position: absolute;
  float: left;
  z-index: -1;
  width: 350px;
}

/* styling of the hidden objects */

.object1,
.object2,
.object3,
.object4,
.object5,
.object6 {
  position: absolute;
  width: 350px;
  float: left;
  z-index: -1;
}

/* /* checkbox styling */
#object1 {
  width: 35px;
  height: 35px;

  margin-left: 265px;
  margin-top: -690px;
  position: absolute;
  float: left;
  z-index: 3;
  opacity: 0;
}

#object2 {
  width: 40px;
  height: 40px;

  margin-left: 60px;
  margin-top: -500px;
  position: absolute;
  float: left;
  z-index: 3;
  opacity: 0;
}

#object3 {
  width: 40px;
  height: 40px;

  margin-left: 260px;
  margin-top: -365px;
  position: absolute;
  float: left;
  z-index: 3;
  opacity: 0;
}

#object4 {
  width: 50px;
  height: 50px;

  margin-left: 100px;
  margin-top: -220px;
  position: absolute;
  float: left;
  z-index: 3;
  opacity: 0;
}

#object5 {
  width: 40px;
  height: 40px;

  margin-left: 280px;
  margin-top: -75px;
  position: absolute;
  float: left;
  z-index: 3;
  opacity: 0;
}

#object6 {
  width: 50px;
  height: 50px;
  margin-left: 50px;
  margin-top: -95px;

  position: absolute;
  /* float: left; */
  z-index: 3;
  opacity: 0;
}

/* class to hide element after being clicked */
.hide {
  display: none;
}

.visible {
  opacity: 1;
}

@media screen and (min-width: 500px) {
  .background {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .display-buttons {
    display: flex;
  }
  .start {
    margin: auto;
  }

  .timer {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #object1 {
    margin-left: 80px;
  }

  #object2 {
    margin-left: -115px;
  }

  #object3 {
    margin-left: 80px;
  }

  #object4 {
    margin-left: -85px;
  }

  #object5 {
    margin-left: 95px;
  }

  #object6 {
    margin-left: -115px;
  }
}
