@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@100;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

/* styling of the main game */

body {
  background-color: rgb(65, 32, 60);
}
.background {
  padding: 20px;
}

.title {
  font-family: "Bangers", cursive;
  text-align: center;
  margin: 10px;
  font-size: 2.5em;
  color: white;
  text-shadow: 2px 2px black;
}

.how2play {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 0.9em;
  margin: 20px;
  color: white;
}

.display-buttons {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

/* display timer & start button */

.timer {
  width: 250px;
  height: 30px;
  margin-left: 50px;
  margin-bottom: 15px;
  padding-top: 8px;
  border-radius: 10px;
  border: 2px solid rgb(255, 123, 0);
  background-color: white;
  text-align: center;
  font-size: 1em;
}

.start {
  width: 250px;
  height: 30px;
  margin-left: 50px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
  background-color: rgb(255, 123, 0);
  color: white;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
}

/* styling objects */

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}
.sally {
  max-width: 100px;
  opacity: 0.4;
}

.visible {
  opacity: 1;
}

/* main section of game */

.main-container {
  position: relative;
  width: 350px;
  height: 700px;
  z-index: -1;
  border: 5px solid rgb(255, 123, 0);
  border-radius: 10px;
  background-color: white;
}

/* styling of the background image */
.main-image {
  position: absolute;
  float: left;
  z-index: -1;
  width: 350px;
}

/* styling of the hidden objects */

.object1,
.object2,
.object3,
.object4,
.object5,
.object6 {
  position: absolute;
  width: 350px;
  float: left;
  z-index: -1;
}

/* /* checkbox styling */
#object1 {
  width: 35px;
  height: 35px;
  left: 270px;
  top: 480px;
  position: absolute;
  float: left;
  z-index: 3;
  opacity: 0;
}

#object2 {
  width: 40px;
  height: 40px;
  left: 80px;
  top: 650px;
  position: absolute;
  float: left;
  z-index: 3;
  opacity: 0;
}

#object3 {
  width: 40px;
  height: 40px;
  left: 290px;
  top: 790px;
  position: absolute;
  float: left;
  z-index: 3;
  opacity: 0;
}

#object4 {
  width: 50px;
  height: 50px;
  left: 120px;
  top: 945px;
  position: absolute;
  float: left;
  z-index: 3;
  opacity: 0;
}

#object5 {
  width: 50px;
  height: 50px;
  left: 295px;
  top: 1095px;
  position: absolute;
  float: left;
  z-index: 3;
  opacity: 0;
}

#object6 {
  width: 40px;
  height: 40px;
  left: 90px;
  top: 1070px;
  position: absolute;
  float: left;
  z-index: 3;
  opacity: 0;
}
/* class to hide element after being clicked */
.hide {
  display: none;
}
