@import url("https://fonts.googleapis.com/css2?family=Abel&family=Amatic+SC&family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #02021c;
}

h1 {
  font-family: "Bungee Shade", cursive;
}

h2 {
  font-family: "Livvic", sans-serif;
}

p {
  font-family: "Abel", sans-serif;
}

.triangle__image img {
  display: flex;
  float: left;
  max-width: 150px;
}

@media screen and (min-width: 550px) {
  .triangle__image img {
    max-width: 300px;
  }
}
@media screen and (min-width: 800px) {
  .triangle__image img {
    display: flex;
    float: left;
    max-width: 600px;
  }
}
.toggle {
  font-family: "Livvic", sans-serif;
  color: #08fdd8;
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  margin-right: 20px;
}
.toggle__back {
  border: 2px solid #08fdd8;
  border-radius: 15px;
  width: 30px;
  height: 15px;
}
.toggle__button {
  position: absolute;
  border: 2px solid #08fdd8;
  border-radius: 20px;
  width: 15px;
  height: 15px;
  background-color: #08fdd8;
}
.toggle__text {
  display: flex;
  align-items: center;
  margin-right: 2%;
  font-size: 10px;
}

@media screen and (min-width: 550px) {
  .toggle {
    margin-top: 10px;
    margin-right: 10px;
  }
  .toggle__back {
    width: 40px;
    height: 20px;
  }
  .toggle__button {
    width: 20px;
    height: 20px;
  }
  .toggle__text {
    margin-right: 10px;
    font-size: 20px;
  }
}
@media screen and (min-width: 800px) {
  .toggle {
    margin-top: 10px;
    margin-right: 10px;
  }
  .toggle__back {
    width: 60px;
    height: 30px;
  }
  .toggle__button {
    width: 30px;
    height: 30px;
  }
  .toggle__text {
    margin-right: 10px;
    font-size: 20px;
  }
}
.intro {
  text-align: right;
  margin-right: 20px;
  position: relative;
}
.intro__heading {
  color: #ff0070;
  font-size: 30px;
  line-height: 40px;
  margin-top: 70px;
}
.intro__about {
  color: #08fdd8;
  font-size: 7px;
  margin-top: 10px;
  letter-spacing: 2.5px;
  margin-bottom: 90px;
  text-transform: uppercase;
}

@media screen and (min-width: 550px) {
  .intro {
    margin-right: 70px;
  }
  .intro__heading {
    font-size: 70px;
    line-height: 90px;
    margin-top: 150px;
  }
  .intro__about {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 800px) {
  .intro {
    margin-right: 50px;
  }
  .intro__heading {
    font-size: 100px;
    line-height: 110px;
    margin-top: 190px;
  }
  .intro__about {
    font-size: 27px;
    margin-top: 10px;
    margin-bottom: 50px;
  }
}
.nav__buttons {
  display: flex;
  justify-content: center;
  font-family: "Livvic", sans-serif;
  font-size: 10px;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-top: -60px;
  text-transform: uppercase;
}
.nav__projects {
  display: flex;
  justify-content: center;
  border: 2px #ff0070 solid;
  border-radius: 10px;
  width: 90px;
  height: 22px;
  margin-right: 4%;
  text-align: center;
  text-decoration: none;
  background-color: #02021c;
  color: #08fdd8;
  box-shadow: -5px 5px #08fdd8;
  padding-top: 10px;
}
.nav__projects:hover {
  background-color: #ff0070;
  color: #02021c;
  font-weight: bold;
}
.nav__experience {
  border: 2px #ff0070 solid;
  border-radius: 10px;
  width: 90px;
  height: 22px;
  text-align: center;
  text-decoration: none;
  background-color: #02021c;
  color: #08fdd8;
  box-shadow: -5px 5px #08fdd8;
  padding-top: 10px;
}
.nav__experience:hover {
  background-color: #ff0070;
  color: #02021c;
  font-weight: bold;
}
.nav__contact {
  border: 2px #ff0070 solid;
  border-radius: 10px;
  width: 90px;
  height: 22px;
  margin-left: 4%;
  text-align: center;
  text-decoration: none;
  background-color: #02021c;
  color: #08fdd8;
  box-shadow: -5px 5px #08fdd8;
  padding-top: 10px;
}
.nav__contact:hover {
  background-color: #ff0070;
  color: #02021c;
  font-weight: bold;
}

@media screen and (min-width: 550px) {
  .nav__buttons {
    font-size: 20px;
    margin-bottom: 100px;
    margin-top: 100px;
  }
  .nav__projects {
    border-radius: 10px;
    width: 150px;
    height: 40px;
    margin-right: 4%;
  }
  .nav__experience {
    border-radius: 10px;
    width: 150px;
    height: 40px;
  }
  .nav__contact {
    border-radius: 10px;
    width: 150px;
    height: 40px;
    margin-left: 4%;
  }
}
@media screen and (min-width: 800px) {
  .nav__buttons {
    font-size: 30px;
    margin-bottom: 100px;
    margin-top: 100px;
  }
  .nav__projects {
    border-radius: 10px;
    width: 220px;
    height: 60px;
    margin-right: 4%;
  }
  .nav__experience {
    border-radius: 10px;
    width: 220px;
    height: 60px;
  }
  .nav__contact {
    border-radius: 10px;
    width: 220px;
    height: 60px;
    margin-left: 4%;
  }
}
.projects__header {
  font-size: 25px;
  color: #ff0070;
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  margin-top: 50px;
}

.line {
  height: 4px;
  width: 160px;
  background-color: #ff0070;
  box-shadow: -2px 2px #08fdd8;
  border: none;
  margin-top: -10px;
  margin-bottom: 50px;
  margin-left: 20px;
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  gap: 10px;
  margin-left: 12px;
  margin-top: -10px;
}

.images > img {
  width: 100%;
  height: 100%;
  border-left: #08fdd8 2px solid;
  border-bottom: #ff0070 2px solid;
}

@media screen and (min-width: 550px) {
  .projects__header {
    font-size: 40px;
    margin-left: 20px;
  }

  .line {
    height: 7px;
    width: 250px;
    box-shadow: -4px 4px #08fdd8;
    margin-top: -20px;
    margin-bottom: 50px;
    margin-left: 17px;
  }

  .images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }
}
.images > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-left: #08fdd8 4px solid;
  border-bottom: #ff0070 4px solid;
}

@media screen and (min-width: 800px) {
  .projects__header {
    font-size: 60px;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
  }

  .line {
    height: 7px;
    width: 370px;
    background-color: #ff0070;
    box-shadow: -8px 8px #08fdd8;
    border: none;
    margin-top: -20px;
    margin-bottom: 50px;
    margin-left: 17px;
  }

  .images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }

  .images > img {
    border-left: #08fdd8 6px solid;
    border-bottom: #ff0070 6px solid;
  }
}
.experience__header {
  font-size: 25px;
  color: #ff0070;
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  margin-top: 50px;
}

.line2 {
  height: 4px;
  width: 120px;
  background-color: #ff0070;
  box-shadow: -2px 2px #08fdd8;
  border: none;
  margin-top: -10px;
  margin-bottom: 50px;
  margin-left: 20px;
}

@media screen and (min-width: 550px) {
  .experience__header {
    font-size: 40px;
    margin-left: 20px;
  }

  .line2 {
    height: 7px;
    width: 200px;
    box-shadow: -4px 4px #08fdd8;
    margin-top: -20px;
    margin-bottom: 50px;
    margin-left: 17px;
  }
}
@media screen and (min-width: 800px) {
  .experience__header {
    font-size: 60px;
    margin-top: 100px;
    margin-left: 20px;
  }

  .line2 {
    height: 7px;
    width: 280px;
    background-color: #ff0070;
    box-shadow: -5px 5px #08fdd8;
    border: none;
    margin-top: -20px;
    margin-bottom: 50px;
    margin-left: 17px;
  }
}
.experience {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4fr;
  gap: 5px;
  padding: 15px;
  margin-top: -40px;
}
.experience h2 {
  color: #ff0070;
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.experience p {
  color: #08fdd8;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

@media screen and (min-width: 760px) {
  .experience {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
  .experience h2 {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .experience p {
    padding: 10px 50px;
    font-size: 20px;
  }
}
.contact__message {
  background-color: #02021c;
  border-top: #ff0070 2px solid;
  border-bottom: #ff0070 2px solid;
  color: #08fdd8;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  font-size: 15px;
  box-shadow: 0px 5px #08fdd8;
}

.contact__link {
  text-decoration: none;
}
.contact__link:hover {
  color: #ff0070;
}

@media screen and (min-width: 760px) {
  .contact__message {
    border-top: #ff0070 2px solid;
    border-bottom: #ff0070 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 35px;
    margin-top: 150px;
    box-shadow: 0px 5px #08fdd8;
  }

  .contact__link {
    text-decoration: none;
    color: #ff0070;
  }
}
.contact {
  display: flex;
  align-items: center;
}
.contact__header {
  font-size: 25px;
  color: #ff0070;
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
  margin-left: 20px;
}

.line3 {
  height: 4px;
  width: 220px;
  background-color: #ff0070;
  box-shadow: -2px 2px #08fdd8;
  border: none;
  margin-top: -10px;
  margin-bottom: 50px;
  margin-left: 20px;
}

@media screen and (min-width: 760px) {
  .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .contact__header {
    margin-top: 100px;
    margin-left: 20px;
    font-size: 60px;
  }

  .line3 {
    height: 7px;
    width: 512px;
    background-color: #ff0070;
    box-shadow: -5px 5px #08fdd8;
    border: none;
    margin-top: -20px;
    margin-bottom: 50px;
    margin-left: 17px;
  }
}
.links__container {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: "Livvic", sans-serif;
  font-size: 10px;
  height: 100px;
  margin-top: 10px;
  text-transform: uppercase;
  margin-left: 25px;
}
.links__email {
  border: 2px #ff0070 solid;
  border-radius: 10px;
  width: 90px;
  height: 25px;
  margin-right: 4%;
  text-align: center;
  text-decoration: none;
  background-color: #02021c;
  color: #08fdd8;
  box-shadow: -5px 5px #08fdd8;
  padding-top: 6px;
}
.links__email:hover {
  background-color: #ff0070;
  color: #02021c;
  font-weight: bold;
}
.links__linkedin {
  border: 2px #ff0070 solid;
  border-radius: 10px;
  width: 90px;
  height: 25px;
  margin-right: 4%;
  text-align: center;
  text-decoration: none;
  background-color: #02021c;
  color: #08fdd8;
  box-shadow: -5px 5px #08fdd8;
  padding-top: 6px;
}
.links__linkedin:hover {
  background-color: #ff0070;
  color: #02021c;
  font-weight: bold;
}
.links__github {
  border: 2px #ff0070 solid;
  border-radius: 10px;
  width: 90px;
  height: 25px;
  margin-right: 4%;
  text-align: center;
  text-decoration: none;
  background-color: #02021c;
  color: #08fdd8;
  box-shadow: -5px 5px #08fdd8;
  padding-top: 6px;
}
.links__github:hover {
  background-color: #ff0070;
  color: #02021c;
  font-weight: bold;
}

@media screen and (min-width: 760px) {
  .links__container {
    margin-top: 100px;
    font-size: 30px;
    margin-bottom: 150px;
  }
  .links__email {
    width: 220px;
    height: 60px;
    margin-right: 4%;
    padding-top: 15px;
  }
  .links__linkedin {
    width: 220px;
    height: 60px;
    margin-right: 4%;
    padding-top: 15px;
  }
  .links__github {
    width: 220px;
    height: 60px;
    padding-top: 15px;
    margin-bottom: 100px;
  }
}
.footer__triangles {
  display: flex;
  float: right;
  margin-top: -220px;
  max-width: 150px;
}

@media screen and (min-width: 550px) {
  .footer__triangles {
    max-width: 300px;
    margin-top: -300px;
  }
}
@media screen and (min-width: 800px) {
  .footer__triangles {
    max-width: 500px;
    margin-top: -400px;
  }
}