@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");

$buttonColor: rgb(255, 123, 0);
$textColor: white;
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #c7c7c7;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  width: 400px;
  height: 600px;
  margin: 0px auto;
  margin-top: 100px;
  font-family: "Squada One", sans-serif;
  color: white;
  text-align: center;
  font-size: 2em;
  padding: 30px;
}

button {
  border: none;
  outline: none;
  background-color: $buttonColor;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-family: "Squada One", sans-serif;
}
.title {
  font-size: 1.5em;
  grid-column: 1 / 5;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot:hover {
  background-color: $textColor;
  color: $buttonColor;
}

.clear:hover {
  background-color: $textColor;
  color: $buttonColor;
}

.number:hover {
  background-color: $textColor;
  color: $buttonColor;
}

.operand:hover {
  background-color: $textColor;
  color: $buttonColor;
}

.equals {
  grid-column: 4;
}

.total {
  background-color: $textColor;
  color: black;
  grid-column: 2 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
