@import url("https://fonts.googleapis.com/css2?family=Abel&family=Amatic+SC&family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@100&display=swap");

$font-main: "Bungee Shade", cursive;
$font-second: "Livvic", sans-serif;
$font-text: "Abel", sans-serif;
$color-main: #ff0070;
$color-second: #08fdd8;
$color-background: #02021c;

// still need to separate SCSS doc & link them
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-background;
}
h1 {
  font-family: $font-main;
}

h2 {
  font-family: $font-second;
}

p {
  font-family: $font-text;
}

// Triangle image /////

.triangle__image img {
  display: flex;
  float: left;
  max-width: 150px;
}

// tablet
@media screen and (min-width: 550px) {
  .triangle__image img {
    max-width: 300px;
  }
}

//desktop
@media screen and (min-width: 800px) {
  .triangle__image img {
    display: flex;
    float: left;
    max-width: 600px;
  }
}

// style toggle ////////////////////////////////////////////////////////////////

// mobile //

.toggle {
  font-family: $font-second;
  color: $color-second;
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  margin-right: 20px;

  &__back {
    border: 2px solid $color-second;
    border-radius: 15px;
    width: 30px;
    height: 15px;
  }

  &__button {
    position: absolute;
    border: 2px solid $color-second;
    border-radius: 20px;
    width: 15px;
    height: 15px;
    background-color: $color-second;
  }

  &__text {
    display: flex;
    align-items: center;
    margin-right: 2%;
    font-size: 10px;
  }
}

// tablet - toggle

@media screen and (min-width: 550px) {
  .toggle {
    margin-top: 10px;
    margin-right: 10px;

    &__back {
      width: 40px;
      height: 20px;
    }

    &__button {
      width: 20px;
      height: 20px;
    }

    &__text {
      margin-right: 10px;
      font-size: 20px;
    }
  }
}

// desktop //

@media screen and (min-width: 800px) {
  .toggle {
    margin-top: 10px;
    margin-right: 10px;

    &__back {
      width: 60px;
      height: 30px;
    }

    &__button {
      width: 30px;
      height: 30px;
    }

    &__text {
      margin-right: 10px;
      font-size: 20px;
    }
  }
}

// heading //////////////////////////////////////////////////////////////

// Settings - mobile

.intro {
  text-align: right;
  margin-right: 20px;
  position: relative;

  &__heading {
    color: $color-main;
    font-size: 30px;
    line-height: 40px;
    margin-top: 70px;
  }

  &__about {
    color: $color-second;
    font-size: 7px;
    margin-top: 10px;
    letter-spacing: 2.5px;
    margin-bottom: 90px;
    text-transform: uppercase;
  }
}

//  heading - tablet

@media screen and (min-width: 550px) {
  .intro {
    margin-right: 70px;

    &__heading {
      font-size: 70px;
      line-height: 90px;
      margin-top: 150px;
    }

    &__about {
      font-size: 20px;
      margin-top: 10px;
      margin-bottom: 50px;
    }
  }
}
// heading - dektop //

@media screen and (min-width: 800px) {
  .intro {
    margin-right: 50px;

    &__heading {
      font-size: 100px;
      line-height: 110px;
      margin-top: 190px;
    }

    &__about {
      font-size: 27px;
      margin-top: 10px;
      margin-bottom: 50px;
    }
  }
}

//  nav buttons /////////////////////////////////////////////////

// Mobile - NAV buttons

.nav {
  &__buttons {
    display: flex;
    justify-content: center;
    font-family: $font-second;
    font-size: 10px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-top: -60px;
    text-transform: uppercase;
  }

  &__projects {
    display: flex;
    justify-content: center;
    border: 2px $color-main solid;
    border-radius: 10px;
    width: 90px;
    height: 22px;
    margin-right: 4%;
    text-align: center;
    text-decoration: none;
    background-color: $color-background;
    color: $color-second;
    box-shadow: -5px 5px $color-second;
    padding-top: 10px;

    &:hover {
      background-color: $color-main;
      color: $color-background;
      font-weight: bold;
    }
  }

  &__experience {
    border: 2px $color-main solid;
    border-radius: 10px;
    width: 90px;
    height: 22px;
    text-align: center;
    text-decoration: none;
    background-color: $color-background;
    color: $color-second;
    box-shadow: -5px 5px $color-second;
    padding-top: 10px;

    &:hover {
      background-color: $color-main;
      color: $color-background;
      font-weight: bold;
    }
  }

  &__contact {
    border: 2px $color-main solid;
    border-radius: 10px;
    width: 90px;
    height: 22px;
    margin-left: 4%;
    text-align: center;
    text-decoration: none;
    background-color: $color-background;
    color: $color-second;
    box-shadow: -5px 5px $color-second;
    padding-top: 10px;

    &:hover {
      background-color: $color-main;
      color: $color-background;
      font-weight: bold;
    }
  }
}

@media screen and (min-width: 550px) {
  .nav {
    &__buttons {
      font-size: 20px;
      margin-bottom: 100px;
      margin-top: 100px;
    }

    &__projects {
      border-radius: 10px;
      width: 150px;
      height: 40px;
      margin-right: 4%;
    }

    &__experience {
      border-radius: 10px;
      width: 150px;
      height: 40px;
    }

    &__contact {
      border-radius: 10px;
      width: 150px;
      height: 40px;
      margin-left: 4%;
    }
  }
}

// Desktop

@media screen and (min-width: 800px) {
  .nav {
    &__buttons {
      font-size: 30px;
      margin-bottom: 100px;
      margin-top: 100px;
    }

    &__projects {
      border-radius: 10px;
      width: 220px;
      height: 60px;
      margin-right: 4%;
    }

    &__experience {
      border-radius: 10px;
      width: 220px;
      height: 60px;
    }

    &__contact {
      border-radius: 10px;
      width: 220px;
      height: 60px;
      margin-left: 4%;
    }
  }
}

// Images grid /////////////////////////////////////////////////////////////////////////

// mobile

.projects__header {
  font-size: 25px;
  color: $color-main;
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  margin-top: 50px;
}

.line {
  height: 4px;
  width: 160px;
  background-color: $color-main;
  box-shadow: -2px 2px $color-second;
  border: none;
  margin-top: -10px;
  margin-bottom: 50px;
  margin-left: 20px;
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  gap: 10px;
  margin-left: 12px;
  margin-top: -10px;
}

.images > img {
  width: 100%;
  height: 100%;
  border-left: $color-second 2px solid;
  border-bottom: $color-main 2px solid;
  // object-fit: cover;
}
// tablet - images grid

@media screen and (min-width: 550px) {
  .projects__header {
    font-size: 40px;
    margin-left: 20px;
  }

  .line {
    height: 7px;
    width: 250px;
    box-shadow: -4px 4px $color-second;
    margin-top: -20px;
    margin-bottom: 50px;
    margin-left: 17px;
  }
  .images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    gap: 20px;
  }
}
.images > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// desktop - images grid

@media screen and (min-width: 800px) {
  .projects__header {
    font-size: 60px;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
  }

  .line {
    height: 7px;
    width: 370px;
    background-color: $color-main;
    box-shadow: -8px 8px $color-second;
    border: none;
    margin-top: -20px;
    margin-bottom: 50px;
    margin-left: 17px;
  }
  .images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
  }
}

// Ex / skills header //////////////////////////////////////////////////////////

// mobile
.experience__header {
  font-size: 25px;
  color: $color-main;
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  margin-top: 50px;
}
.line2 {
  height: 4px;
  width: 120px;
  background-color: $color-main;
  box-shadow: -2px 2px $color-second;
  border: none;
  margin-top: -10px;
  margin-bottom: 50px;
  margin-left: 20px;
}

//  tablet - skills

@media screen and (min-width: 550px) {
  .experience__header {
    font-size: 40px;
    margin-left: 20px;
  }

  .line2 {
    height: 7px;
    width: 200px;
    box-shadow: -4px 4px $color-second;
    margin-top: -20px;
    margin-bottom: 50px;
    margin-left: 17px;
  }
}
// desktop
@media screen and (min-width: 800px) {
  .experience__header {
    font-size: 60px;
    margin-top: 100px;
    margin-left: 20px;
  }

  .line2 {
    height: 7px;
    width: 280px;
    background-color: $color-main;
    box-shadow: -5px 5px $color-second;
    border: none;
    margin-top: -20px;
    margin-bottom: 50px;
    margin-left: 17px;
  }
}

// Experience - skills grid ////////////////////////////////////////////////////////////////

// mobile
.experience {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4fr;
  gap: 5px;
  padding: 15px;
  margin-top: -40px;

  h2 {
    color: $color-main;
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    text-transform: uppercase;
  }

  p {
    color: $color-second;
    text-align: center;
    font-size: 12px;
    padding: 15px;
  }
}

// Desktop

@media screen and (min-width: 760px) {
  .experience {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;

    h2 {
      font-size: 40px;
      margin-top: 30px;
      margin-bottom: 15px;
    }

    p {
      padding: 10px 50px;
      font-size: 20px;
    }
  }
}

// Contact paragraph - CV download //////////////////////////////////////

//  mobile /////

.contact__message {
  background-color: $color-background;
  border-top: $color-main 2px solid;
  border-bottom: $color-main 2px solid;
  color: $color-second;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  font-size: 15px;
  box-shadow: 0px 5px $color-second;
}
.contact__link {
  text-decoration: none;

  &:hover {
    color: $color-main;
  }
}

// Desktop

@media screen and (min-width: 760px) {
  .contact__message {
    border-top: $color-main 2px solid;
    border-bottom: $color-main 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 35px;

    margin-top: 150px;
    box-shadow: 0px 5px $color-second;
  }
  .contact__link {
    text-decoration: none;
    color: $color-main;
    &:hover {
    }
  }
}

// contact section //////////////////////////////////////////

// mobile

.contact {
  display: flex;
  // flex-direction: column;
  align-items: center;

  &__header {
    font-size: 25px;
    color: $color-main;
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 20px;
  }
}

.line3 {
  height: 4px;
  width: 220px;
  background-color: $color-main;
  box-shadow: -2px 2px $color-second;
  border: none;
  margin-top: -10px;
  margin-bottom: 50px;
  margin-left: 20px;
}
// desktop

@media screen and (min-width: 760px) {
  .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__header {
      margin-top: 100px;
      margin-left: 20px;
      font-size: 60px;
    }
  }

  .line3 {
    height: 7px;
    width: 512px;
    background-color: $color-main;
    box-shadow: -5px 5px $color-second;
    border: none;
    margin-top: -20px;
    margin-bottom: 50px;
    margin-left: 17px;
  }
}

// contact links //////////////////////////////////////////////

// mobile
.links {
  &__container {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: $font-second;
    font-size: 10px;
    height: 100px;
    margin-top: 10px;
    text-transform: uppercase;
    margin-left: 25px;
  }

  &__email {
    border: 2px $color-main solid;
    border-radius: 10px;
    width: 90px;
    height: 25px;
    margin-right: 4%;
    text-align: center;
    text-decoration: none;
    background-color: $color-background;
    color: $color-second;
    box-shadow: -5px 5px $color-second;
    padding-top: 6px;

    &:hover {
      background-color: $color-main;
      color: $color-background;
      font-weight: bold;
    }
  }
  &__linkedin {
    border: 2px $color-main solid;
    border-radius: 10px;
    width: 90px;
    height: 25px;
    margin-right: 4%;
    text-align: center;
    text-decoration: none;
    background-color: $color-background;
    color: $color-second;
    box-shadow: -5px 5px $color-second;
    padding-top: 6px;
    &:hover {
      background-color: $color-main;
      color: $color-background;
      font-weight: bold;
    }
  }

  &__github {
    border: 2px $color-main solid;
    border-radius: 10px;
    width: 90px;
    height: 25px;
    margin-right: 4%;
    text-align: center;
    text-decoration: none;
    background-color: $color-background;
    color: $color-second;
    box-shadow: -5px 5px $color-second;
    padding-top: 6px;
    &:hover {
      background-color: $color-main;
      color: $color-background;
      font-weight: bold;
    }
  }
}

// Desktop
@media screen and (min-width: 760px) {
  .links {
    &__container {
      margin-top: 100px;
      font-size: 30px;
      margin-bottom: 150px;
    }

    &__email {
      width: 220px;
      height: 60px;
      margin-right: 4%;
      padding-top: 15px;
    }
    &__linkedin {
      width: 220px;
      height: 60px;
      margin-right: 4%;
      padding-top: 15px;
    }

    &__github {
      width: 220px;
      height: 60px;
      padding-top: 15px;
      margin-bottom: 100px;
    }
  }
}

// triandles bottom

// mobile
.footer__triangles {
  display: flex;
  float: right;
  margin-top: -220px;
  max-width: 150px;
}

//  tablet

@media screen and (min-width: 550px) {
  .footer__triangles {
    max-width: 300px;
    margin-top: -300px;
  }
}

// desktop
@media screen and (min-width: 800px) {
  .footer__triangles {
    max-width: 500px;
    margin-top: -400px;
  }
}
