@import url("https://fonts.googleapis.com/css2?family=Anton&family=Assistant:wght@200;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=PT+Sans:wght@400;700&display=swap");

$color-background: #ffbc00;
$color-main: #4f4f4f;
$color-second: #ffa392;
$font-heading: "Chau Philomene One", sans-serif;
$font-text: "Assistant", sans-serif;

* {
  padding: 0;
  margin: 0;
}

// Titles ///////////////////////////////////////

// mobile
.title {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
  font-size: 20px;
  font-family: $font-heading;
  &__projects {
    margin-top: -12px;
    color: $color-main;
    letter-spacing: 3px;
  }

  &__contact {
    margin-top: -10px;
    color: $color-main;
    margin-right: 7px;
    letter-spacing: 3px;
  }
}
// desktop
@media screen and (min-width: 760px) {
  .title {
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
    font-size: 40px;

    &__projects {
      margin-top: -20px;
    }

    &__contact {
      margin-top: -20px;
    }
  }
}

// Chevrons /////////////////////////////

// mobile

.chevron {
  margin-left: -3000px;
  margin-top: -3000px;
}

@media screen and (min-width: 760px) {
  .chevron {
    font-family: $font-text;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-left: 25%;
    margin-bottom: 10px;

    &__scroll {
      text-align: center;

      &__icon {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-right: 10px;
        border: 2px red solid;
      }
    }
  }
}
// Heading - NAV bar ///////////////////////////////////////////////

// Mobile

.container {
  display: flex;
  background-color: $color-background;
  position: relative;
}

// heading - nav
.nav {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    margin-top: 20px;
    list-style: none;
    font-family: $font-heading;
    font-size: 20px;
  }

  &__projects {
    background-color: white;

    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 10px;

    a {
      text-decoration: none;
      color: $color-main;
    }
  }

  &__skills {
    background-color: white;

    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 10px;
    text-decoration: none;

    a {
      text-decoration: none;
      color: $color-main;
    }
  }

  &__contact {
    background-color: white;
    color: $color-background;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 10px;
    text-decoration: none;

    a {
      text-decoration: none;
      color: $color-main;
    }
  }
}

// hey
.header {
  font-family: $font-heading;
  height: 270px;
  display: flex;
  align-items: flex-end;
  color: $color-main;
}

.header {
  &__hey {
    display: flex;
    align-items: flex-end;
    margin-bottom: -50px;
    margin-left: 20px;
    font-size: 150px;
  }
}
// Desktop

@media screen and (min-width: 760px) {
  .container {
    display: flex;
    position: relative;
  }

  .nav {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;

    &__list {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 30px;
      margin-top: 20px;
      font-size: 30px;
    }

    &__projects {
      width: 50px;
      height: 50px;
      text-align: center;
      border-radius: 50%;
      margin-bottom: 20px;

      //   &:hover {
      //     width: 200px;
      //     border-radius: 20px;
      //   }
    }

    &__skills {
      width: 50px;
      height: 50px;
      text-align: center;
      border-radius: 50%;
      margin-bottom: 20px;
    }

    &__contact {
      width: 50px;
      height: 50px;
      text-align: center;
      border-radius: 50%;
      margin-bottom: 20px;
    }
  }

  //   hey
  .header {
    height: 700px;
    display: flex;
    align-items: flex-end;
  }

  .header {
    &__hey {
      display: flex;
      align-items: flex-end;
      margin-bottom: -65px;
      margin-left: 50px;
      font-size: 200px;
    }
  }
}

// welcome message ////////////////////////////////////////////////////

// Mobile

.name {
  color: $color-background;
}
.welcome {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: $color-main;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: white;
  padding: 50px 20px 50px 15px;
  text-align: center;

  &__message {
    padding: 20px 30px;
  }
}
// Desktop

@media screen and (min-width: 760px) {
  .welcome {
    height: 900px;

    // letter-spacing: 5px;
    display: flex;
    padding: 0 100px;
    align-items: center;
    font-size: 50px;

    &__message {
      padding: 20px 170px;
    }
  }
}

// projects ////////////////////////////

// Mobile
.container__projects {
  background-color: $color-second;
  letter-spacing: 3px;
  height: 600px;
}
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 0px 25px;
  margin-top: 25px;

  &__1 {
    max-width: 150px;
    border-radius: 50%;

    &:hover {
      border: $color-main 4px solid;
    }
  }

  &__2 {
    border-radius: 50%;
    max-width: 150px;
    &:hover {
      border: $color-main 4px solid;
    }
  }

  &__3 {
    border-radius: 50%;
    max-width: 150px;
    &:hover {
      border: $color-main 4px solid;
    }
  }
  &__4 {
    border-radius: 50%;
    max-width: 150px;
    &:hover {
      border: $color-main 4px solid;
    }
  }

  &__5 {
    border-radius: 50%;
    max-width: 150px;
    &:hover {
      border: $color-main 4px solid;
    }
  }
  &__6 {
    border-radius: 50%;
    max-width: 150px;
    &:hover {
      border: $color-main 4px solid;
    }
  }
}
// Desktop
@media screen and (min-width: 800px) {
  .container__projects {
    letter-spacing: 3px;
    height: 850px;
  }
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__1 {
      border-radius: 50%;
      width: 100%;
      margin: 20px;
    }

    &__2 {
      border-radius: 50%;
      width: 100%;
      margin: 20px;
    }

    &__3 {
      border-radius: 50%;
      width: 100%;
      margin: 20px;
    }
  }
  .projects img {
    min-width: 350px;
  }
  // &__4 {
  //   border-radius: 50%;
  //   max-width: 300px;
  // }

  // &__5 {
  //   border-radius: 50%;
  //   max-width: 300px;
  // }
  // &__6 {
  //   border-radius: 50%;
  //   max-width: 300px;
  // }
}

// Siklls //////////////////

///////////////////

// Mobile
.title__skills {
  color: $color-second;
  margin-top: -10px;
  letter-spacing: 3px;
}
.container__skills {
  background-color: $color-main;
  height: 525px;
}

.skillslogo {
  margin-top: 40px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  color: $color-main;

  &__1 {
    background-color: $color-second;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 20px;
  }

  &__2 {
    background-color: $color-second;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &__3 {
    background-color: $color-second;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 20px;
  }
}
.skills {
  font-family: $font-text;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px 50px;
  text-align: center;
}

// Dekstop

@media screen and (min-width: 760px) {
  .title__skills {
    color: $color-second;
    margin-top: -20px;
    letter-spacing: 3px;
  }
  .container__skills {
    background-color: $color-main;
    height: 900px;
  }

  .skillslogo {
    margin-top: 150px;
    margin-bottom: 25px;
    font-size: 50px;
    display: flex;
    justify-content: space-around;
    color: $color-main;

    &__1 {
      background-color: $color-second;
      text-align: center;
      vertical-align: center;
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }

    &__2 {
      background-color: $color-second;
      text-align: center;
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }

    &__3 {
      background-color: $color-second;
      text-align: center;
      vertical-align: center;
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }
  }
  .skills {
    font-family: $font-text;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    // padding: 20px 70px;
    text-align: center;
    font-size: 20px;

    &__1 {
      padding-right: 40px;
    }
  }
}

// Contact ///////////////////////////////

// Mobile
.container__contact {
  background-color: $color-background;
  height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contact__image {
  display: flex;
  justify-content: flex-end;
  max-width: 100px;
  border-radius: 50%;
  margin-left: 30px;
  margin-top: -150px;
}

.contact__heading {
  display: flex;
  justify-self: flex-end;
  font-family: $font-text;
  font-weight: 1000;
  font-size: 20px;
  margin-left: 140px;
  margin-top: 20px;
}

.contact__cv {
  font-family: $font-text;
  font-size: 14px;
  margin-left: 140px;
  padding-right: 10px;
}

.contact__cv a {
  text-decoration: none;
  color: $color-main;
  font-weight: bold;
}

.links {
  display: flex;
  font-size: 25px;
  margin-left: 140px;
  margin-top: 10px;
  color: $color-main;
  letter-spacing: 20px;
}

.links a {
  text-decoration: none;
  color: $color-main;
}
// Dekstop

@media screen and (min-width: 760px) {
  .container__contact {
    background-color: $color-background;
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .contact__image {
    display: flex;
    justify-content: flex-end;
    border-radius: 50%;
    margin-left: 100px;
    margin-top: -360px;
    max-width: 200px;
  }

  .contact__heading {
    display: flex;
    justify-self: flex-end;
    font-family: $font-text;
    font-weight: 1500;
    font-size: 40px;
    margin-left: 320px;
    margin-top: 100px;
  }

  .contact__cv {
    font-family: $font-text;
    font-size: 20px;
    margin-left: 320px;
  }

  .contact__cv a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  .links {
    display: flex;
    font-size: 40px;
    margin-left: 320px;
    margin-top: 20px;
    color: $color-main;
    letter-spacing: 40px;
    color: black;
  }

  .links a {
    text-decoration: none;
    color: black;
  }
}
