@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100;500&family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color: black;
}

.heading {
  font-family: "Gluten", cursive;
  text-align: center;
  margin: 50px 0px 20px 0px;
  font-size: 50px;
}

.intro {
  font-family: "Gluten", cursive;
  text-align: center;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 30px;
  font-family: "Press Start 2P", sans-serif;
  text-align: center;
}

.mother {
  margin-top: 30px;
  grid-column: 1 / 9;
}
.defence {
  width: 100%;
  grid-column: 1 / 9;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.defenceship {
  padding: 20px;
  font-size: 30px;
}

.attack {
  width: 100%;
  grid-column: 1 / 9;
  font-size: 10px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.message {
  font-family: "Gluten", cursive;
  margin: auto;
  text-align: center;
  font-size: 30px;
}
.button-container {
  text-align: center;
  margin: 50px;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: red;

  font-weight: 700;
  font-size: 20px;
}

.game-over {
  width: 400px;
  height: 280px;
  background-color: red;
  position: relative;
  margin: auto;
  margin-top: 100px;
  border: 3px dotted white;
  text-align: center;
  padding: 30px;
  font-family: "Press Start 2P", sans-serif;
  line-height: 2;
}

.restart-button {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.restart-game-button {
  color: black;
  background-color: white;
  margin: auto;
}

h3 {
  font-size: 20px;
  padding: 30px;
}

.hidden {
  display: none;
}
.sunk-ship {
  color: black;
}

@media screen and (max-width: 768px) {
  .heading {
    margin: 20px 0px 20px 0px;
    font-size: 30px;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 20px;
  }

  .mother {
    margin-top: 20px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 10px;
  }
  .defence {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    margin-top: 10px;
  }

  .defenceship {
    padding: 10px;
    font-size: 10px;
  }

  .attack {
    grid-column: 1 / 4;
    grid-row: 3 / 5;
    font-size: 10px;
    margin-top: 10px;
  }
  .message {
    font-size: 20px;
  }
  /* .button-container {
    text-align: center;
    margin: 50px;
  } */

  button {
    width: 70px;
    height: 70px;
    border-radius: 50px;

    font-size: 15px;
  }

  .game-over {
    margin-top: -330px;
    width: 200px;
    height: 200px;
    font-size: 10px;
  }

  /* .restart-button {
    margin-top: 20px;
    display: flex;
    align-items: center;
  } */

  h3 {
    font-size: 10px;
  }
}
