.header {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 50vh;
  background-color: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 10vh;
  background-color: $color-primary;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
