@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.nav {
  width: 100%;
  height: 4em;
  display: flex;
  background-color: #361763;
  color: white;
}
.nav__logo {
  padding: 15px;
}

main {
  height: 90vh;
  background-color: #cdcbcd;
  padding-top: 30px;
}

.title {
  display: flex;
  justify-content: center;
  padding: 100px;
}
.title__headings {
  display: flex;
  flex-direction: column;
}
.title__heading {
  display: flex;
  color: #361763;
  font-size: 2em;
  margin-bottom: 5px;
}
.title__subHeading {
  color: #e7315e;
  font-size: 2em;
  margin-bottom: 20px;
}
.title__button {
  border: 2px black solid;
  padding: 8px 30px;
  border-radius: 15px;
  background-color: #361763;
  color: white;
  text-align: center;
  font-weight: 100;
}
.title__image {
  max-height: 150px;
  max-width: 150px;
  margin-left: 50px;
}

.wave {
  overflow: hidden;
  vertical-align: top;
  margin-top: -60px;
}

.form {
  background-color: #f1efef;
  border: 2px solid #3b3b3b;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  padding: 0px 30px 20px 30px;
  margin-bottom: 100px;
}
.form__name {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  font-size: 1.5em;
}
.form__email {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  font-size: 1.5em;
}
.form__button {
  background-color: #361763;
  color: white;
  padding: 10px;
  margin-top: 50px;
  font-size: 1em;
}

.form__label {
  margin-top: 30px;
}

form > input {
  height: 30px;
  margin-top: 15px;
  font-size: 1em;
  padding: 5px;
}

a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 600px) {
  .nav {
    width: 100%;
  }

  .wave {
    margin-top: -50px;
    display: block;
  }

  main {
    height: 50vh;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    width: 100%;
  }

  .wave {
    margin-top: -200px;
    display: block;
  }

  main {
    height: 50vh;
    padding-top: 0px;
  }
}
.emptySpace {
  height: 50vh;
  background-color: #e7315e;
  padding-top: 100px;
}

.dropdown {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.dropdown__label {
  font-size: 1.5em;
  padding: 20px;
}
.dropdown__options {
  height: 60px;
  width: 300px;
  font-size: 1em;
  text-align: center;
}

.submit {
  border: 2px black solid;
  padding: 8px 30px;
  border-radius: 15px;
  background-color: #361763;
  color: white;
  text-align: center;
  font-size: 1.5em;
  margin-top: 30px;
}

p {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}

.valid {
  border: 1px solid green;
}
.invalid {
  border: 1px solid red;
}
