$background-color: #101628;
$grey-color: #e3e2e2;
$pink-color: #fe5541;
$block-color: #ffd2c8;
$font: "Roboto", sans-serif;

* {
  margin: 0;
  padding: 0;
  font-family: $font;
  box-sizing: border-box;
  color: $background-color;
}

.nav__list__desktop {
  display: none;
}

header {
  background-color: $grey-color;
  text-align: center;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.dot {
  color: $pink-color;
}

.subHeading {
  font-family: $font;
  font-size: 40px;
  margin-left: 20px;
  margin-top: 100px;
}

.pink-bold {
  color: $pink-color;
}
.bold {
  font-style: italic;
  color: $pink-color;
  font-weight: 400;
}
