@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,100;1,500&display=swap");

$background-color: #101628;
$grey-color: #e3e2e2;
$pink-color: #fe5541;
$block-color: #ffd2c8;
$font: "Roboto", sans-serif;

* {
  margin: 0;
  padding: 0;
  font-family: $font;
}

.nav__list__desktop {
  display: none;
}

header {
  background-color: $grey-color;
  text-align: center;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}
.mode-toggle {
  color: #fe5541;
  display: flex;
  font-size: 2em;
  align-items: center;
  margin-right: 60px;
}

.activate-darkmode {
  display: none;
}

.activate-darkmode .dark {
  display: block;
}

.logo {
  margin: 0;
  padding: 0.7em;
  max-height: 4em;
  display: flex;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 20px;
  margin-left: 1em;
  /* This takes it to the full height of the container NAV */
  height: 100%;
  /* Below so we can then center it within the NAV bar */
  display: flex;
  align-items: center;
}

/* Below is creating the 3 lines */
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  /* this code creates a white line */
  display: block;
  background-color: $background-color;
  color: $background-color;
  height: 3px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  /* this will change it to no content so we just have the lines */
  content: " ";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

/* general nav stayling */
nav {
  position: absolute;
  text-align: right;
  top: 100%;
  right: 0;
  padding-right: 20px;
  background-color: $grey-color;
  width: 100%;
  /* settings so it only appears when select the 3 lines */
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: $background-color;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  /* so invisible until check box & they fade in */
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: $pink-color;
}

/* below will display the NAV only of the checked box is ticked */
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

// HEADING /////////////////////////////////////////////
.greeting {
  color: $background-color;
  padding-top: 200px;
  font-size: 3em;
  display: flex;

  &__hi {
    width: 1em;
    margin-left: 50px;
  }

  &__dot {
    color: $pink-color;
  }
}

.greeting__para {
  margin-left: 50px;
  margin-right: 50px;
}

// PROJECTS /////////////////////////////////////////

.projects {
  margin-top: 100px;
}

.subHeading {
  font-family: $font;
  color: $background-color;
  font-size: 3em;
  margin-left: 20px;
  margin-top: 300px;
}

.dot {
  color: $pink-color;
}

.projects-container {
  background-color: $block-color;
  height: 810px;
  margin-top: -20px;

  display: flex;
  flex-direction: column;
  position: relative;
  z-index: -1;
  display: flex;
}

.projects-description {
  padding: 50px 50px 20px 50px;
  color: $background-color;
  font-weight: 700;
}

.bold {
  font-style: italic;
  color: $pink-color;
  font-weight: 400;
}

.project-image {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
}

.project-image > img {
  border-radius: 10px;
}

.project-link {
  position: absolute;
  font-size: 2em;
  font-weight: 700;
  color: $background-color;
}
.pink-bold {
  color: $pink-color;
}

// Experience section //////////////////////////////

.experience__title {
  margin-top: 100px;
}
.experience-container {
  margin-top: -20px;
  height: 600px;
  background-color: $grey-color;
  margin-bottom: 20px;
}

.experience-container > i {
  justify-content: center;
}

.icon-grid {
  width: 300px;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0px 50px 50px 50px;
  padding-top: 50px;
}

.icon-grid > i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $background-color;
  font-size: 3em;
}

.experience-info {
  padding: 0px 30px 0px 30px;
  color: $background-color;
  font-weight: 700;
  font-size: 20px;
}

.experience-para {
  padding: 20px 30px 0px 30px;
  color: $background-color;
  font-size: 15px;
}

// Contact section ///////////////////////////////

.contact {
  height: 450px;
  background-color: $block-color;
  z-index: -1;

  &__intouch {
    color: $background-color;
    padding-left: 30px;
    font-weight: 700;
    font-size: 25px;
    float: left;
    padding-top: 30px;
  }
}

.contact__title {
  margin-top: 100px;
  margin-bottom: -20px;
}

.contact__para {
  width: 200px;
  float: left;
  font-size: 15px;
  padding-left: 30px;
  padding-top: 100px;

  color: $background-color;
}

.me {
  max-width: 150px;
  float: right;

  margin-top: 80px;
  margin-right: 10px;
}

.contact__para2 {
  float: left;
  font-size: 15px;
  padding: 30px 30px 30px 30px;

  color: $background-color;
}

.contact__links {
  position: absolute;
  display: flex;
  width: 150px;
  margin-left: 240px;
  margin-top: 60px;
  justify-content: space-around;
}

.fa-envelope,
.fa-linkedin,
.fa-github-square {
  font-size: 2em;
  color: #101628;
}

.fa-envelope:hover,
.fa-linkedin:hover,
.fa-github-square:hover {
  color: $pink-color;
}

// Adapting to Desktop layout

@media screen and (min-width: 568px) {
  .nav-toggle,
  .nav-toggle-label {
    display: none;
  }

  .nav__list__desktop {
    float: right;
    width: 300px;
    display: block;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    margin-top: -55px;
  }

  .nav__list__desktop > li {
    list-style-type: none;
  }

  .nav__links {
    text-decoration: none;
    color: $background-color;
  }

  .nav__links:hover {
    color: $pink-color;
  }

  .mode-toggle {
    margin-right: 320px;
  }

  .icon-grid {
    width: 100vh;

    display: flex;
    justify-content: space-around;
  }

  .me {
    float: left;
    margin-top: -50px;
    margin-left: -190px;
  }

  .contact__para {
    width: 100%;
    float: left;
    font-size: 15px;
    padding-left: 30px;
    padding-top: 100px;
  }
}
