@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,100;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.nav__list__desktop {
  display: none;
}

header {
  background-color: #e3e2e2;
  text-align: center;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.dot {
  color: #fe5541;
}

.subHeading {
  font-family: "Roboto", sans-serif;
  color: #101628;
  font-size: 3em;
  margin-left: 20px;
  margin-top: 300px;
}

.pink-bold {
  color: #fe5541;
}

.bold {
  font-style: italic;
  color: #fe5541;
  font-weight: 400;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.mode-toggle {
  color: #fe5541;
  display: flex;
  font-size: 2em;
  align-items: center;
  margin-right: 60px;
}

.activate-darkmode {
  display: none;
}

.activate-darkmode .dark {
  display: block;
}

.logo {
  margin: 0;
  padding: 0.7em;
  max-height: 4em;
  display: flex;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 20px;
  margin-left: 1em;
  /* This takes it to the full height of the container NAV */
  height: 100%;
  /* Below so we can then center it within the NAV bar */
  display: flex;
  align-items: center;
}

/* Below is creating the 3 lines */
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  /* this code creates a white line */
  display: block;
  background-color: #101628;
  color: #101628;
  height: 3px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  /* this will change it to no content so we just have the lines */
  content: " ";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

/* general nav stayling */
nav {
  position: absolute;
  text-align: right;
  top: 100%;
  right: 0;
  padding-right: 20px;
  background-color: #e3e2e2;
  width: 100%;
  /* settings so it only appears when select the 3 lines */
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: #101628;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  /* so invisible until check box & they fade in */
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #fe5541;
}

/* below will display the NAV only of the checked box is ticked */
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.welcome {
  color: #101628;
  padding-top: 200px;
  font-size: 3em;
  display: flex;
}
.welcome__hi {
  width: 1em;
  margin-left: 50px;
}
.welcome__dot {
  color: #fe5541;
}

.welcome__info {
  margin-left: 50px;
  margin-right: 50px;
}

.scroll {
  display: none;
}

.projects {
  margin-top: 100px;
}
.projects__container {
  background-color: #ffd2c8;
  height: 810px;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: -1;
}
.projects__description {
  padding: 50px 50px 20px 50px;
  color: #101628;
  font-weight: 700;
}

.project-image {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
}

.project-image > img {
  border-radius: 10px;
}

.project-link {
  position: absolute;
  font-size: 2em;
  font-weight: 700;
  color: #101628;
}

.experience__title {
  margin-top: 100px;
}

.experience-container {
  margin-top: -20px;
  height: 600px;
  background-color: #e3e2e2;
  margin-bottom: 20px;
}

.experience-container > i {
  justify-content: center;
}

.icon-grid {
  width: 300px;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0px 50px 50px 50px;
  padding-top: 50px;
}

.icon-grid > i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #101628;
  font-size: 3em;
}

.experience-intro {
  padding: 0px 30px 0px 30px;
  color: #101628;
  font-weight: 700;
  font-size: 20px;
}

.experience-para {
  padding: 20px 30px 0px 30px;
  color: #101628;
  font-size: 15px;
}

.contact {
  height: 450px;
  margin-top: 150px;
  background-color: #ffd2c8;
  z-index: -1;
}
.contact__intouch {
  margin: 0 auto;
  text-align: center;
  padding: 30px 0px 30px 0px;
  font-weight: 700;
  font-size: 25px;
  float: left;
  padding-top: 30px;
}

.me {
  max-width: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 568px) {
  .nav-toggle,
.nav-toggle-label {
    display: none;
  }

  .nav__list__desktop {
    float: right;
    width: 300px;
    display: block;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    margin-top: -55px;
  }

  .nav__list__desktop > li {
    list-style-type: none;
  }

  .nav__links {
    text-decoration: none;
    color: #101628;
  }

  .nav__links:hover {
    color: #fe5541;
  }

  .mode-toggle {
    margin-right: 320px;
  }

  .icon-grid {
    width: 100vh;
    display: flex;
    justify-content: space-around;
  }

  .me {
    float: left;
    margin-top: -50px;
    margin-left: -190px;
  }

  .contact__para {
    width: 100%;
    float: left;
    font-size: 15px;
    padding-left: 30px;
    padding-top: 100px;
  }
}
@media screen and (min-width: 568px) {
  .nav-toggle,
.nav-toggle-label {
    display: none;
  }

  .nav__list__desktop {
    float: right;
    width: 300px;
    display: block;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    margin-top: -55px;
  }

  .nav__list__desktop > li {
    list-style-type: none;
  }

  .nav__links {
    text-decoration: none;
    color: #101628;
  }

  .nav__links:hover {
    color: #fe5541;
  }

  .mode-toggle {
    margin-right: 320px;
  }

  .welcome__hi {
    font-size: 3em;
    margin-left: 100px;
    margin-top: 80px;
  }

  .welcome__dot {
    margin-top: 80px;
  }

  .dot {
    font-size: 3em;
  }

  .welcome__para {
    margin-left: 110px;
  }

  .scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
    color: #fe5541;
  }

  .chevron {
    width: 50px;
    display: flex;
    justify-content: center;
  }

  .chevron:hover {
    font-size: 2em;
  }

  .subHeading {
    font-size: 3em;
    margin-left: 20px;
  }

  .subHeading-projects {
    font-size: 3em;
    margin-left: 20px;
    margin-top: -60px;
  }

  .projects__title {
    margin-top: -50px;
  }
  .projects__description {
    width: 80vh;
  }

  .projects__container {
    margin-top: -45px;
    display: flex;
  }

  .projects__section1 {
    display: flex;
    margin: 0px auto;
    padding-top: 100px;
    padding-right: 20px;
  }

  .projects__section2 {
    display: flex;
    flex-direction: row-reverse;
    margin: 0px auto;
    padding-left: 20px;
  }

  .project__link {
    font-size: 2em;
    font-weight: 700;
  }

  .experience-info {
    display: flex;
  }

  .experience-container {
    margin-top: -45px;
  }

  .subHeading-contact {
    font-size: 3em;
    margin-left: 20px;
  }

  .contact {
    margin-top: -45px;
  }

  .icon-grid {
    width: 100vh;
    display: flex;
    justify-content: space-around;
  }

  .me {
    float: left;
    margin-top: -50px;
    margin-left: -190px;
  }

  .contact__para {
    width: 100%;
    float: left;
    font-size: 15px;
    padding-left: 30px;
    padding-top: 100px;
  }
}