@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,100;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #e3e2e2;
  text-align: center;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.mode-toggle {
  color: #fe5541;
  display: flex;
  font-size: 2em;
  align-items: center;
  margin-right: 60px;
}

.activate-darkmode {
  display: none;
}

.activate-darkmode .dark {
  display: block;
}

.logo {
  margin: 0;
  padding: 0.7em;
  max-height: 4em;
  display: flex;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 20px;
  margin-left: 1em;
  /* This takes it to the full height of the container NAV */
  height: 100%;
  /* Below so we can then center it within the NAV bar */
  display: flex;
  align-items: center;
}

/* Below is creating the 3 lines */
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  /* this code creates a white line */
  display: block;
  background-color: #101628;
  color: #101628;
  height: 3px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  /* this will change it to no content so we just have the lines */
  content: " ";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

/* general nav stayling */
nav {
  position: absolute;
  text-align: right;
  top: 100%;
  right: 0;
  padding-right: 20px;
  background-color: #e3e2e2;
  width: 100%;
  /* settings so it only appears when select the 3 lines */
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: #101628;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  /* so invisible until check box & they fade in */
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #fe5541;
}

/* below will display the NAV only of the checked box is ticked */
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.greeting {
  color: #101628;
  padding-top: 200px;
  font-size: 3em;
  display: flex;
}
.greeting__hi {
  width: 1em;
  margin-left: 50px;
}
.greeting__dot {
  color: #fe5541;
}

.greeting__para {
  margin-left: 50px;
  margin-right: 50px;
}

.projects {
  margin-top: 100px;
}

.subHeading {
  font-family: "Roboto", sans-serif;
  color: #101628;
  font-size: 3em;
  margin-left: 20px;
  margin-top: 300px;
}

.dot {
  color: #fe5541;
}

.projects-container {
  background-color: #ffd2c8;
  height: 810px;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: -1;
  display: flex;
}

.projects-description {
  padding: 50px 50px 20px 50px;
  color: #101628;
  font-weight: 700;
}

.bold {
  font-style: italic;
  color: #fe5541;
  font-weight: 400;
}

.project-image {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
}

.project-image > img {
  border-radius: 10px;
}

.project-link {
  position: absolute;
  font-size: 2em;
  font-weight: 700;
  color: #101628;
}

.pink-bold {
  color: #fe5541;
}

.experience__title {
  margin-top: 100px;
}

.experience-container {
  margin-top: -20px;
  height: 600px;
  background-color: #e3e2e2;
  margin-bottom: 20px;
}

.experience-container > i {
  justify-content: center;
}

.icon-grid {
  width: 300px;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0px 50px 50px 50px;
  padding-top: 50px;
}

.icon-grid > i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #101628;
  font-size: 3em;
}

.experience-info {
  padding: 0px 30px 0px 30px;
  color: #101628;
  font-weight: 700;
  font-size: 20px;
}

.experience-para {
  padding: 20px 30px 0px 30px;
  color: #101628;
  font-size: 15px;
}

.contact {
  height: 400px;
  background-color: #ffd2c8;
  z-index: -1;
}
.contact__intouch {
  color: #101628;
  padding-left: 30px;
  font-weight: 700;
  font-size: 25px;
  float: left;
  padding-top: 30px;
}

.contact__title {
  margin-top: 20px;
  margin-bottom: -20px;
}

.contact__para {
  width: 200px;
  float: left;
  font-size: 15px;
  padding-left: 30px;
  padding-top: 50px;
  color: #101628;
}

.me {
  max-width: 150px;
  float: right;
  padding-right: 30px;
  padding-top: 30px;
}

.contact__para2 {
  float: left;
  font-size: 15px;
  padding: 30px 30px 30px 30px;
  color: #101628;
}

.contact__links {
  display: flex;
}